<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Petrol Engine Bean -->
    <bean id="petrolEngine" class="org.cfs.PetrolEngine" scope="prototype"/>

    <!-- Diesel Engine Bean -->
    <bean id="dieselEngine" class="org.cfs.DieselEngine"/>

    <!-- Car Bean -->
    <bean id="car" class="org.cfs.Car">
        <!--<property name="engine" ref="patrolEngine">-->
        <constructor-arg name="engine" ref="petrolEngine"/>
    </bean>

</beans>